name: Publish

on:
  release:
    types: [created]

env:
  PROJECT_PATH: src/Crowdin.Api
  PROJECT_CSPROJ_PATH: src/Crowdin.Api/Crowdin.Api.csproj

jobs:
  publish-nuget:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Build the project
        run: dotnet build -c Release ${{ env.PROJECT_CSPROJ_PATH }}

      - name: Create the package
        run: dotnet pack -c Release -property:NuspecFile=Crowdin.Api.nuspec ${{ env.PROJECT_CSPROJ_PATH }}

      - name: Publish the package to NuGet
        run: dotnet nuget push ${{ env.PROJECT_PATH }}/bin/Release/*.nupkg -s https://nuget.org -k ${{ secrets.NUGET_KEY }}
